body {
    background: #ebebeb;
}

.button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    width: 100px;
    padding: 20px 30px;
    border: 5px solid #4ac0ee;
    color: #4ac0ee;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    -moz-transition: all 0.15s ease-out 0.15s;
    -o-transition: all 0.15s ease-out 0.15s;
    -webkit-transition: all 0.15s ease-out;
    -webkit-transition-delay: 0.15s;
    transition: all 0.15s ease-out 0.15s;
}
.button:after, .button:before {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 100%;
    left: 0;
    bottom: -10px;
    content: '';
    z-index: 1;
    -moz-transition: all 0.15s ease-out 0.15s;
    -o-transition: all 0.15s ease-out 0.15s;
    -webkit-transition: all 0.15s ease-out;
    -webkit-transition-delay: 0.15s;
    transition: all 0.15s ease-out 0.15s;
}
.button:before {
    background: #4ac0ee;
    top: 10px;
    left: -15px;
    height: 100%;
    width: 15px;
}
.button:after {
    width: 100%;
    background: #4ac0ee;
    right: 0px;
    left: -15px;
    height: 15px;
}
.button:hover {
    background: #4ac0ee;
    color: #fff;
    margin-left: -7.5px;
    margin-bottom: -7.5px;
}
.button:hover:after, .button:hover:before {
    top: 100%;
    left: 0;
    bottom: 0px;
}
.button:hover:before {
    top: 0px;
    left: 0px;
    width: 0px;
}
.button:hover:after {
    right: 0px;
    left: 0px;
    height: 0px;
}