

.shuffle-me {
    width: 25%;
    height: 150px;
    margin: 2%;
    display: block;
    position: relative;
    float: left;
    width: 26%;
    height: 209px;
}


.shuffle-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.shuffle-group .shuffle-me {
    width: 31.9%;
    float: left;
    margin: 5px;
}

.shuffle-group .shuffle-me:first-child {
    width: 66%;
    float: left;
    height: 431px;
}
.shuffle-group .shuffle-me:first-child h1 {
    margin-top: 190px;
    font-size: 30px;
}