html {
    background: #f2f2f2;
}

.scroll-container,
.scroll-area {
    max-width: 2000px;
    max-height: 4000px;
    font-size: 30px;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}